---
import Section from "./Section.astro";
---
<Section
color="white"
title="Disfrute de tesla"
subtitle="Programe una prueba de conduccion hoy mismo"
>
<div
slot="footer"
>
 <a href="#" class=`
    text-white border-white border-[3px] bg-white/5
    backdrop-blur-sm text-sm rounded font-medium px-12 py-2 inline-block
    hover:bg-white hover:text-black transition-colors
    `>
    Prueba de conduccion
</a>
</div>
<video slot="background" class="object-center object-cover h-full w-full" autoplay muted loop src="/video.webm"></video>
</Section>